<template>
  <div>
    <h1>Home Component</h1>
    <input type="text" v-model="name" />
    {{products}}
    <button @click="addproduct(name)">Add Products</button>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
export default {
  name: "Home",
  data() {
    return {
      name: ""  
    };
  },
  computed: {
    products() {
    //   return this.$store.state.products;
    return this.$store.getters.getProductsList;
    }
  },
    methods: {
        ...mapActions(['addproduct'])

    //   addProduct() {
    //     // this.$store.state.products.push(this.name);
    //     this.$store.dispatch('addproduct', this.name);
    //   }
  }
};
</script>