<template>
<b-container>
  <div class="login">
     <b-form @submit="onSubmit">
       <b-form-group id="input-group-2" label="User Name:" label-for="input-2">
        <b-form-input
          id="input-2"
          v-model="form.name"
          placeholder="Enter User Name"
        ></b-form-input>
      </b-form-group>
      <b-form-group
        id="input-group-1"
        label="Password:"
        label-for="input-1"
        description="We'll never share your password with anyone else."
      >
        <b-form-input
          id="input-1"
          v-model="form.password"
          type="password"
          placeholder="Enter password"
        ></b-form-input>
      </b-form-group>
      <b-form-group id="input-group-4">
        <b-form-checkbox-group v-model="form.checked" id="checkboxes-4">
          <b-form-checkbox value="me">Remember Me</b-form-checkbox>    
        </b-form-checkbox-group>
      </b-form-group>
      <b-button type="submit" variant="primary">Login</b-button>
      <b-button  variant="success m-2" >SingUp</b-button>
      </b-form>
  </div>
  </b-container>
</template>
<script>
export default {
  name: 'Login',
  data(){
   return{
     form: {
          password: '',
          name: '',
          checked: []
        },
   }
  },
  methods:{
      onSubmit(evt) {
        evt.preventDefault()
        setTimeout(() =>{
         this.$router.push({name: 'home'})
       }, 5000);
        //
        //alert(JSON.stringify(this.form))
      }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.login{
  width: 400px;
  margin: 0 auto;
  background-color: aliceblue;
  padding: 20px;
}
.form-group{
  text-align: left;
  font-weight: bold;
}
</style>
