<template>
<div>
    <h1>Page Not Found Component</h1>
    <table>
        <tr>
            <th> Name </th>
        </tr>    
        <!-- <tr v-for="(prod, index) in products" :key="index">
            <td> {{prod.name}} </td>
        </tr>  -->

        <tr v-for="(prod, index) in getProductsList" :key="index">
            <td> {{prod.name}} </td>
        </tr>   
    </table>
     </div>    
</template>
<script>
import { mapGetters } from 'vuex' 
export default {
    name: 'PageNotFound',
    computed: {
        ...mapGetters(['getProductsList'])
    // products() {
    // //   return this.$store.state.products;
    // return this.$store.getters.getProductsList;
    // }
  }
}
</script>